<div class="container dashboard">
  <section>
    <h3>Favorites</h3>
    <ul>
      {{#each isFavorite}}
       {{book-entry book=this tagName="li"}}
      {{/each}}
    </ul>
  </section>

  <section>
    <h3>New</h3>
    <ul>
      {{#each isNew}}
        {{book-entry book=this tagName="li"}}
      {{/each}}
    </ul>
  </section>

  {{#link-to "new" classNames="newBook"}}
    +
  {{/link-to}}
</div>
