.book
  width 100%
  background #eee

  .info, .cardinality, img.banner
    display inline-block
    width 100%
    background #fff

  .info, .cardinality, img.banner
    float left

  img.banner
    width 100%
    height 400px
    margin -3px 0
    background rgba(77,240,153,1)
    background linear-gradient(45deg, rgba(46,191,150,1) 0%, rgba(76,241,185,1) 100%)

  .info
    position relative
    padding 0 65px

    .wrapper
      width 600px
      margin auto

      section
        button
          border none
          padding 8px
          margin 7px
          cursor pointer
          background transparent
          border-radius 100%
          outline none

          &:active
            padding 9px 8px 7px

            img.star
              float left

          &.favorite
            float left

          &.deleteBook
            float right

      h1
        float left
        margin 12px 0
        padding 1px 1px 3px

      h3
        line-height 2.4em
        margin-bottom 0
        float right

      p
        width 100%
        box-sizing content-box
        min-height 44px
        margin 2em 0
        padding 2px 2px 4px
        float left

  .cardinality
    position relative
    z-index 5
    boxShadow()

    section
      width 600px
      display table
      float none
      margin auto

    h1
      width 50%
      float left
      text-align center

    img
      box-shadow none
      border-bottom none
      float left
      margin 1.1em -20px
      width 40px
      height 40px
      padding 10px
      background #fff
      position relative
      z-index 10

  .content-wrapper
    min-height 46vh