.login
  width 600px
  position relative
  left 50%
  transform translateX(-50%)
  background white
  boxShadow()
  padding 40px 0
  display inline-block
  overflow hidden

  h1
    width 100%
    text-align center
    font-size 3em

  ul.counter
    list-style-type none
    margin auto
    display table
    padding 0
    opacity 0
    transition opacity ease-in-out $time

    &.active
      opacity 1

    li
      float left
      margin 2px
      width 8px
      height 8px
      background #f4f4f4
      border 1px solid #f0f0f0
      border-radius 100%
      transition all ease-in-out $time*2
      cursor pointer

      &.active
        background $hover
        border 1px solid $hover

  a
    cursor pointer
    color lighten($blue, 35%)

    &:last-of-type
      float right

  .container
    width 1800px
    position relative
    transition margin-left $time*2 ease-in-out

    &.createAccount
      margin-left 0

    &.signIn
      margin-left -600px

    &.resetPassword
      margin-left -1200px

    form
      float left
      width 600px
      padding 0 40px