.login
  width 600px
  position relative
  left 50%
  transform translateX(-50%)
  background white
  boxShadow()
  padding 40px 0
  display inline-block
  overflow hidden
  border-radius $radius

  h1
    width 100%
    text-align center
    font-size 3em

  a
    cursor pointer
    color lighten($blue, 35%)

    &:last-of-type
      float right

  .container
    width 1800px
    position relative
    transition margin-left $time*2 ease-in-out

    &.createAccount
      margin-left 0

    &.signIn
      margin-left -600px

    &.resetPassword
      margin-left -1200px

    form
      float left
      width 600px
      padding 0 40px

      &.resetPassword
        button
          margin-top 160px