*
  box-sizing border-box
  font-family $sans
  font-weight 100

html
  width 100%
  // height 100%

  body
    width inherit
    // height 100%
    margin 0
    display inline-block
    background #fafafa

    >div
      // height 100%

a
  color $blue

  &:visited
    background #fafafa
    color lighten($blue, 35%)

  &:active
    color $blue