{{#link-to "index"}}<img class="icon home" src="img/icons/i_home.svg" alt="home">{{/link-to}}
<button>
  <img class="icon more" src="img/icons/i_more.svg" alt="more">
</button>
{{view Ember.TextField placeholder="Search for a tag, phrase or language"}}