<li class="entry entering">
  <ul>
    <li class="source">
      <p>
        <span class="progress">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </p>
    </li>
    <li class="target">
      <p>
        <span class="progress">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </p>
    </li>
  </ul>
</li>