<div class="container dashboard">
  <section>
    <h3>Books</h3>
    <ul class="content">
      {{#each model as |book|}}
        {{book-entry book=book tagName="li" class="content"}}
      {{/each}}
    </ul>
  </section>

  {{#if session.isAuthenticated}}
    {{#link-to "new" class="newBook"}}
      +
    {{/link-to}}
  {{/if}}

</div>
