.book
  width 100%
  background #eee

  .info, .cardinality, img.banner
    display inline-block
    width 100%
    background #fff

  .info, .cardinality, img.banner
    float left

  .info
    img.star
      float left
      margin 15px
      width 35px

    h1
      float left
      margin .4em 0

    h3
      float left

    p
      float left

  .cardinality
    border-bottom 3px solid rgba(0,0,0,0.1)

    section
      width 600px
      display table
      float none
      margin auto

    h1
      width 50%
      float left
      text-align center

    img
      border-bottom none
      float left
      margin 1.6em -10px
      width 20px