.book
  width 100%
  background #eee

  .info, .cardinality, img.banner
    display inline-block
    width 100%
    background #fff

  .info, .cardinality, img.banner
    float left

  img.banner
    width 100%
    min-height 724px
    background #5FC09F

  .info
    position relative
    padding 0 65px

    img.star
      position absolute
      top 0
      left 0
      margin 15px
      width 35px

    h1
      float left
      margin 12px 0
      padding 1px 1px 3px

    h3
      line-height 2.4em
      margin-bottom 0
      float right

    p
      width 100%
      box-sizing content-box
      min-height 44px
      margin 2em 0
      padding 2px 2px 4px
      float left

  .cardinality
    border-bottom 3px solid rgba(0,0,0,0.1)

    section
      width 600px
      display table
      float none
      margin auto

    h1
      width 50%
      float left
      text-align center

    img
      border-bottom none
      float left
      margin 1.1em -20px
      width 40px
      height 40px
      padding 10px
      background #fff
      position relative
      z-index 10

// 186
// 12,-,1,43,1,2,12 + 32,-,2,44,2,2,32
// 71 + 114

// 12.8,-,-,43,-,-,12.8 + 32,-,-,44,-,-,32
// 68.6 + 108

// 2.4 / 6